:root {
    --background-main: #000000;
    --background-secondary: #ffffff; 
  
    /* Primary Colors */
    --primary-color: #3498db; 
    --primary-color-hover: #2980b9;
     
    /* Secondary Colors */
    --secondary-color: #e67e22; 
    --secondary-color-hover: #d35400; 
  
    /* Text Colors */
    --text-primary: #ffffff; 
    --text-secondary: #000000;
  
    /* Border Colors */
    --border-color: #dcdcdc; 
    --border-color-dark: #bdc3c7;
  
    /* Shadow Colors */
    --shadow-light: rgba(0, 0, 0, 0.1);
  
    /* Highlight Colors */
    --highlight-color: #f39c12;
    --highlight-color-hover: #e67e22; 
  
    /* Background Overlay */
    --overlay-color: #00000082; 

  }
  
  body {
    margin: 0;
    padding: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    color: var(--text-primary);
    background-color: var(--overlay-color);
    width: 100%;
  }
  .navbar-brand {
    margin-left: 2%;
  }
  
  .navbar-items {
    display: flex;
    gap: 40px;
  }
  
  .navbar-items a {
    color: var(--text-primary);
    text-decoration: none;

  }

  .navbar-signup {
    background-color: var(--background-secondary);
    padding: 4px 20px;
    margin-right: 40px;
    border-radius: 9px;
  }

  /* .navbar-signup a {
    text-decoration: none;
    color: var(--text-secondary);
    font-weight: bold;
  } */
  
  .navbar-toggle {
    display: none;
  }
  
  .close-button {
    display: none;
  }
  
  @media (max-width: 768px) {
    .navbar{
      overflow: hidden;
    }
    .navbar-items {
      display: flex;
      flex-direction: column;
      gap: 40px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      justify-content: center;
      align-items: center;
      z-index: 1000;
      transform: translateY(-100%);
      transition: transform 0.3s ease-in-out;
    }
  
    .navbar-items.open {
      transform: translateY(0);
    }

    .navbar-signup {
      display: none;
    }
  
    .navbar-toggle {
      display: block;
    }
  
    .navbar-button {
      font-size: 24px;
      background: none;
      border: none;
      color: var(--text-primary);
      cursor: pointer;
    }
  
    .close-button {
      position: absolute;
      top: 20px;
      right: 25%;
      font-size: 36px;
      background: none;
      border: none;
      color: var(--text-primary);
      cursor: pointer;
      z-index: 10001;
      display: block;
    }
  }